.overlay {
    position: fixed;
    visibility: hidden;
    width: 500px;
    height: 200px;
    top: 70;
    left: 0;
    
    z-index: 2;
    margin: auto;
    border-radius: 20px;
}
  
#text{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 10px 50px 10px 50px;
    background-color: rgb(206, 206, 206);
    border-radius: 20px;
    border: 1px solid black;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}